body
{
    background-color: rgb(126, 126, 126);
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Discovery;
    src: url(fonts/OpenSans-Semibold.ttf);
}
a
{
    text-decoration: none;    
}
.titulo
{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}
.space
{
    position: relative;
    background-color: rgb(236, 214, 196);
    height: 700px;
    margin: 0;
    padding: 20px;
}
.textoanimado
{
    height: 400px;
    width: 490px;
    background-color: none;
}
.rosa1
{
    position: absolute; 
    top: 400px;  
    left: 400px;  
    transform: translate(-50%, -50%);
    height: 250px;
    width: 250px;
    border-radius: 100%;
    background-color: rgb(224, 35, 129);
}
.mamei1
{
    margin: auto;
    position: absolute; 
    top: 400px; 
    left: 400px; 
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    border-radius:  100%;
    background-color: rgb(230, 162, 35);
    z-index: 0;
}
.blanco
{
    margin: auto;
    position: absolute; 
    top: 400px; 
    left: 400px; 
    transform: translate(-50%, -50%);
    height: 150px;
    width: 150px;
    border-radius:  100%;
    background-color: rgb(0, 0, 0);
}
.publicidad
{
    background-color: rgb(255, 253, 253);
    position: absolute;
    height: 500px;
    width: 530px;
    padding-left: 37px;
    padding-top: 10px;
    right: auto;
}
.tarjetita
{
    position: absolute;
    height: 450px;   
    z-index: 1;
    margin-left: 30px;
    margin-top: -50px;
}
.tapafoot
{
    position: relative;
    margin-top: 510px;
    height: 220px;
    width: 700px;
    background-color: rgb(236, 214, 196);
    z-index: 1;
}

.banco
{
    font-family: discovery;
    font-size: 450%;
    position: relative;
    color: #ec6b29;
}
.intro
{
    top: 2%;
    font-family: discovery;
    font-size: 450%;
    color: rgb(1, 1, 65);
}
.registrado
{
    font-size: 40%;
    position: absolute
}
.subanco
{
    font-family: discovery;
    font-size: 450%;
    margin-top: 5px;
    color: #ec6b29;
}

.fdic
{
    margin-top: auto;
    height: 50px;
    width: 490px;
    background-color: none;
}
.foot
{
    font-family: discovery;
}
